body > header {
  width: 100%;
  height: 400px;
  background-color: #ffa07a;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body > header img {
  margin: 5px;
}

body > header h2 {
  margin: 5px;
}