body > header {
  width: 600px;
  height: 400px;
  background-color: #ffa07a;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 170px;
  margin-left: 50px;
}

body > header img {
  margin: 5px;
}

body > header h2 {
  margin: 5px;
}

@media all and (max-width: 800px) {
  body > header {
    flex-direction: column;
    width: 100%;
    position: fixed;
    height: 350px;
    margin-top: 80px;
    margin-left: 0px;
  } 
  body > header h2 {
    padding-bottom: 15px;
  }
}